<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card</title>

    <link rel="stylesheet" href="card.css">
</head>
<body>
    <div class="card">
        <img src="../assets/bgimage.jpg" alt="Sample Image" class="card-image">
        <div class="card-info">
            <p class="brand-name">Brand Name</p>
            <h2 class="car-name">Sentinel Classic Widebody</h2>
            <p class="car-details"> Class: Sports </p>
            <p class="car-speed">Maximum Speed: 120.4 mph</p>
            <p class="car-price">Price: $150,000</p>
            <p class="car-uploaded">Upgrade</p>
            <p class="car-uploaded">Released Nov 12, 2020</p>
        </div>
    </div>
    
</body>
</html>